.hero-section {
    background: linear-gradient(135deg, #dbeafe, #fde2e4);
    padding: 90px 20px;
    border-radius: 25px;
    margin-top: 30px;
    text-align: center;
}

.hero-section h1 {
    font-size: 55px;
    font-weight: bold;
}

.hero-section p {
    color: #555;
    font-size: 20px;
}

.feature-card {
    border-radius: 18px;
    transition: 0.3s;
    min-height: 220px;
}

.feature-card:hover {
    transform: translateY(-8px);
}